<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gilbert">
    <meta name="keyword" content="Blog, tp5, zui, response">
    <meta name="description" content="this is a Blog.app for Gilbert">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css">
    <link rel="stylesheet" type="text/css" href="">
    <title>{block name="title"}你并不孤独{/block}</title>
</head>

<body>
    {block name="header"}{/block}
    {block name="body"}{/block}
    {block name="footer"}{/block}
</body>
<script type="text/javascript" src="__STATIC__/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/js/zui.min.js"></script>
{block name="script"}{/block}

</html>
